@import "styles/_variables.scss";

.main__feed {
  width: 100%;
  background-color: $white-color;
  border-radius: 10px;
  margin-bottom: 20px;

  .feed__header {
    padding: 16px;
    display: flex;
    align-items: center;
    .feed__header-profileImg {
      width: 40px;
      height: 40px;
      border: 2px solid $hareubang-gray;
      border-radius: 50%;
      background-color: #f9f9f9;
    }
    .feed__header-profileDesc {
      flex: 1;
      font-family: $main-font;
      margin-left: 14px;
      color: $hareubang-gray;
      h6 {
        font-size: 18px;
        color: $deep-green-color;
        margin-bottom: 4px;
      }
      span {
        font-size: 14px;
        color: $hareubang-gray;
      }
    }
    .feed__header-moreBtn {
      margin-right: 12px;
      font-size: 18px;
    }
  }

  .feed__contents {
    background-color: $white-color;
    width: 100%;
    min-height: 200px;
    .content-image {
      width: 100%;
      max-height: 500px;
      background-color: $white-color;
    }
  }

  .feed__post {
    padding: 16px;
    font-family:$sub-font1;
    font-weight: 400;
    .post-icons {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 10px;
      .post-icon {
        font-size: 24px;
        &:hover {
          color: $main-color;
        }
      }
      .post-padding {
        flex: 1;
      }
    }
    .post-likeCount {
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 16px;
      padding-bottom: 6px;
    }
    .post-text {
      margin-bottom: 8px;
      font-size: 14px;
      .post-categories {
        display: flex;
        align-items: center;
        .post-categoryBtn {
          background-color: $main-color;
          padding: 8px 10px;
          margin-top: 6px;
          border-radius: 16px;
          font-family: 'Katuri';
          box-shadow: 0 0 15px rgb(0 0 0 / 15%);
          transition: all .2s;
          &:hover {
            transform: scale(1.1);
            background-color: $light-green-color;
          }
        }
      }
    }
    .post-comments {
      margin-bottom: 8px;
      font-size: 14px;
      .comment-userName {
        font-weight: 600;
        margin-right: 4px;
      }
    }
    .post-timeAgo {
      font-size: 12px;
      color: $hareubang-gray;
    }
  }

  .feed__addComment {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-top: 1px solid rgba(53, 53, 53, .1);
    .addComment-emoji {
      font-size: 20px;
      margin-right: 16px;
    }
    .addComment-inputForm {
      flex: 1;
      display: flex;
      align-items: center;
      .addComment-input {
        flex: 1;
        border: none;
        outline: none;
        padding: 4px;
      }
      .addComment-subBtn {
        padding: 4px;
        font-weight: 600;
        color: $main-color;
        transition: all .15s;
        &:hover {
          color: $deep-green-color;
        }
      }
    }
  }
}