@font-face {
  font-family: 'Katuri';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.home__banner {
  padding-top: 120px;
  background-color: #f0f8ff;
  display: flex;
  flex-direction: column;

  .banner__inner {
    display: flex;
    flex-direction: column;

    .home__topImg {
      width: 160px;
      margin: auto;
      margin-bottom: 20px;  
    }
    .banner {
      display: flex;
      flex-direction: row;
      margin: 30px 0 80px;
    
      .banner-content {
        font-family: 'Katuri';
        width: 50%;
        .banner-content-title {
          font-size: 2.75rem;
          margin-bottom: 1rem;
        }
        .banner-content-span {
          color: #8bd34c;
        }
        .banner-content-description {
          font-size: 1.5rem;
          margin-bottom: .25rem;
          color: rgb(75, 75, 75);
        }
      }
    
      .home__mainImg-wrapper {
        width: 50%;
        .home__mainImg {
          width: 100%;
          // height: 100%;
        }
      }
    }
  }
}

.home__categoryBar {
  position: relative;
  background: #f9f9f9;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 15px rgb(0 0 0 / 15%);

  .categoryList {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    .categoryList__item {
      margin-right: 30px;
    }
    .categoryList__btn {
      background-color: #8bd34c;
      width: 90px;
      height: 40px;
      border-radius: 20px;
      font-family: 'Katuri';
      color: #353535;
      font-size: 16px;
      box-shadow: 0 0 15px rgb(0 0 0 / 15%);
      transition: all .2s;
      &:hover {
        transform: scale(1.1);
        background-color: #8ce241;
      }
    }
  }
}

.home__containers {
  background-color: #f1f1f1;
  padding-top: 20px;
  padding-bottom: 20px;
  .homeContainer__inner {
    display: flex;
  }
}