@import "styles/_mixin";

#Home {
  position: relative;
}

.home__banner {
  padding-top: 12rem;
  background-color: $light-skyBlue-color;
  display: flex;
  flex-direction: column;

  .banner__inner {
    display: flex;
    flex-direction: column;

    .home__topImg {
      width: 16rem;
      margin: auto;
      margin-bottom: 2rem;  
    }
    .banner {
      display: flex;
      flex-direction: row;
      margin: 2rem 0 6rem;
    
      .banner-content {
        font-family: $main-font;
        width: 50%;
        .banner-content-title {
          font-size: 4.4rem;
          margin-bottom: 1.6rem;
        }
        .banner-content-span {
          color: $main-color;
        }
        .banner-content-description {
          font-size: 2.4rem;
          margin-bottom: 0.4rem;
          color: $hareubang-gray;
        }
      }
    
      .home__mainImg-wrapper {
        // @include tablet {
        //   display: none;
        // }
        width: 51.2rem;
        .home__mainImg {
          width: 100%;
        }
      }
    }
  }
}

.home__categoryBar {
  position: relative;
  background: $light-white-color1;
  align-items: center;
  padding: 1.6rem 0;
  box-shadow: 0 0 1.5rem rgb(0 0 0 / 15%);

  .categoryList {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    .categoryList__btn {
      background-color: $main-color;
      width: 9rem;
      height: 4rem;
      border-radius: 2rem;
      font-family: 'Katuri';
      color: #353535;
      font-size: 1.6rem;
      box-shadow: 0 0 1.5rem rgb(0 0 0 / 15%);
      transition: all .2s;
      &:hover {
        transform: scale(1.1);
        background-color: $light-green-color;
      }
    }
  }
}

.home__containers {
  background-color: $light-white-color2;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .homeContainer__inner {
    display: flex;
    position: relative;
  }
}


@include desktop {

}

@include tablet {
  .home__banner {
    .banner__inner {
      .banner {
        .banner-content {
          width: 80%;
          margin: auto;
          .banner-content-title,.banner-content-description {
            text-align: center;
          }
        }
        .home__mainImg-wrapper {
          display: none;
        }
      }
    }
  }
  .home__categoryBar {
    padding: 1rem 0;
  }
}

@include mobile {
  .home__banner {
    padding-top: 9rem;
    .banner__inner {
      .home__topImg {
        width: 14rem;
        margin-bottom: 0;
      }
      .banner {
        margin-bottom: 4rem;
        .banner-content {
          .banner-content-title {
            font-size: 3.2rem;
            margin-bottom: 1rem;
          }
          .banner-content-description {
            font-size: 2rem;
          }
        }
      }
    }
  }  
  .home__categoryBar {
    .categoryList {
      flex-wrap: wrap;
    }
  }
}