@import "styles/_variables.scss";

#Navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: $navbar_height;
  font-family: 'Baloo Bhaijaan 2', cursive;
  border-bottom: 1px solid #e7fcd5;
  background-color: $white-color;
  
  .navbar__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar__logo {
    font-size: 32px;
    font-weight: 700;
    color: $main-color;
    display: flex;
    align-items: center;
    img {
      width: 120px;
    }
  }

  .navbar__searchForm {
    display: flex;
    align-items: center;
    .navbar__inputForm {
      border: none;
      border-bottom: 1px solid $hareubang-gray;
      outline: none;
      width: 300px;
      height: 30px;
      padding-left: 8px;
    }
    .navbar__searchBtn {
      width: 30px;
      height: 30px;
      font-size: 18px;
      color: $hareubang-gray;
      border: none;
      outline: none;
      background: transparent;
    }
  }

  .navbar__icons {
    display: flex;
    align-items: center;
    .navbar__icon {
      width: 26px;
      height: 26px;
      margin-right: 20px;
      color: $hareubang-gray;
      cursor: pointer;
    }

    .profileLink {
      display: flex;
      align-items: center;
      .profileImg {
        width: 26px;
        height: 26px;
        background-color: $light-white-color1;
        border: 2px solid $hareubang-gray;
        border-radius: 50%;
      }
    }
  }

}
