@import "styles/_variables.scss";

#SideBar {
  width: 300px;
  height: 500px;
  background-color: $white-color;
  padding: 8px;
  padding-right: 0;
  margin-right: 10px;
  border-radius: 10px;
  font-family: "Katuri", sans-serif;
}

.sideBar__profile {
  margin: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .sideBar__profileImg {
    width: 40px;
    border: 2px solid $hareubang-gray;
    border-radius: 50%;
    background-color: $white-color;
  }
  .sideBar__profile-desc {
    flex: 1;
    margin-left: 10px;
    .sideBar__profile-userName {
      font-size: 18px;
      color: $deep-green-color;
      margin-bottom: 4px;
    }
    .sideBar__profile-userLevel {
      font-size: 14px;
      color: $hareubang-gray;
    }
  }
  button {
    padding-right: 8px;
    .sideBar__profileIcon {
      font-size: 20px;
      color: $hareubang-gray;
    }
  }
}

.sideBar__categories {
  font-size: 18px;
  .sideBar__category {
    padding: 20px;
    padding-left: 30px;
    color: $hareubang-gray;
    cursor: pointer;
    transition: all .1s;
    border-radius: 20px 0 0 20px;
    &:hover {
      background-color: $main-color;
    }
    .sideBar-icon {
      margin-right: 10px;
    }
  }
}